
html {
  background-image: url('images/background.gif');
  background-origin: content-box;
  background-size: cover;
}

html, body {
  overflow: auto;
  height: 100%;
}

#content {
  font-family: Verdana;
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  height: 100%;
  align-items: center;
}

#center {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 5px double rgb(71, 71, 71);
  width: 10%;
  padding: 15px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  border: 5px double rgb(71, 71, 71);
  width: 100%;
  padding: 15px;
}

header {
  background-color: white;
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  border: 5px double rgb(71, 71, 71);
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

header h1 {
  margin: auto;
}

header img {
  position: absolute;
  width: auto;
  height: 1.4em;
}

#right-overlap {
  position: relative;
  left: 54%;
  bottom: 129%;
}

#left-overlap {
  position: relative;
  right: 68%;
  bottom: 35%;
}

#visitor-counter {
  float: right;
  border: 5px double rgb(71, 71, 71);
  margin-right: 15px;
  padding: 10px;
  text-align: center;
}

#guestbook {
  overflow: auto;
  width: 100%;
  height: 70%;
}