#visitor-counter {
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAIZJREFUOE+1lEEOwCAIBPH/j25jE5JqRWYx9QzDLiDNfnityLzMLMyl0C1kFkagDsRgAu1CMLAHU+jbYVogg6aA1aAdWkkOcyKlapEhPrNP1vizHTNUVehFQ6XyPkY2TpUune16WmnFk1Md1PFBkRWrSlEBBYq3Q4Hia5VBkd3KkSZfdYi5AczrHBYV85HkAAAAAElFTkSuQmCC') 7 / 7px / 0 round;
  border-width: 7px;
  border-style: solid;
  padding: 10px;
  text-align: center;
  height: auto;
  width: fit-content;
  align-self: center;
}

.entry {
  display: contents;
  color: indigo;
}

.music-entry {
  list-style-type: "\1F3B5";
}

.watching-entry {
  list-style-type: "📺";
}

.game-entry {
  list-style-type: "\1F3AE";
}

.study-entry {
  list-style-type: "\2712";
}

.reading-entry {
  list-style-type: "\1F4D6";
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

#socials img {
  width: 3em;
  height: auto;
}

#left-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  gap: 1.2em
}

#creator-photo {
  width: 60%;
  height: fit-content;
}

#right-float {
  float: right;
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 1em;
  margin-left: 2em;
}

#currently {
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAilJREFUeF7tnDFywzAMBKWPJm2elDb+aNLG9IwxmFuZEr1pKZ6A5QlEaNn71vz7+fj+/T/l8/a1NyXQy+l4Ur02jPSGKM1t2+h4Uj2BDissULgEXR5omsDZSsj0R16gJ3vEdCi8CQgUJkCXjFRveg1N+aYAxvunegKFS5BAaaCjxatHcPzfPZ1f3S99BNP4uvP37gSBPreAQAc+qWEESgOtahjdVhyt182Hjmf6Lp9uOilAgdIE6bapGx/tKFqvm89yDk0B0PPTBZ5eQ2kgqZ5AU4Kr1VCYRyynQ2OE9wICFShMAJbToVcHCse/nFy7D12OAJyQQAUKE4DlHg6YqxPr2e+Dwvm3X4esugCBNl8tEmhh6QpQ93hPh9IOpWvSu+vZNsEOEKhAYQKwXNuh3V0RjvdwuTQ/gfoRyLEm1aEw35cDheNfTq5dQ5cjACckUIHCBGC5B4d2i3L3ejj+w+Wq/MZxgYbHewJtelqHNoFVl8dAqxs4/pyAbRPsEIEKFCYAy7UdWhVpOL6Xy6X5CdTz0GNNq0NhvgIVKEwAltOhAoUJwHJv79AUwLgeqd7l+9AUgEDhRlygZwfqzwzdr1D1HYNqD/RXcQZCAm1+yFY5TKBnA1qtGL0LHq3XzYeOZ3ofSveRAm1+rSUFVs1PF1iHwn3tdKCVY6rx1FHL1dAKWDUu0IpQc1ygTWDV5QKFN4EKeHc8XaDpm1KaQBdYdX0aj0DhJ0agMNA/tNEviipb4hMAAAAASUVORK5CYII=') 28 / 28px / 0 round;
  border-width: 28px;
  border-style: solid;
  padding: 0.5em;
}

#rainbow-text {
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button-list {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  flex-wrap: wrap;
  justify-content: center;
}

#buttons {
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAilJREFUeF7tnDFywzAMBKWPJm2elDb+aNLG9IwxmFuZEr1pKZ6A5QlEaNn71vz7+fj+/T/l8/a1NyXQy+l4Ur02jPSGKM1t2+h4Uj2BDissULgEXR5omsDZSsj0R16gJ3vEdCi8CQgUJkCXjFRveg1N+aYAxvunegKFS5BAaaCjxatHcPzfPZ1f3S99BNP4uvP37gSBPreAQAc+qWEESgOtahjdVhyt182Hjmf6Lp9uOilAgdIE6bapGx/tKFqvm89yDk0B0PPTBZ5eQ2kgqZ5AU4Kr1VCYRyynQ2OE9wICFShMAJbToVcHCse/nFy7D12OAJyQQAUKE4DlHg6YqxPr2e+Dwvm3X4esugCBNl8tEmhh6QpQ93hPh9IOpWvSu+vZNsEOEKhAYQKwXNuh3V0RjvdwuTQ/gfoRyLEm1aEw35cDheNfTq5dQ5cjACckUIHCBGC5B4d2i3L3ejj+w+Wq/MZxgYbHewJtelqHNoFVl8dAqxs4/pyAbRPsEIEKFCYAy7UdWhVpOL6Xy6X5CdTz0GNNq0NhvgIVKEwAltOhAoUJwHJv79AUwLgeqd7l+9AUgEDhRlygZwfqzwzdr1D1HYNqD/RXcQZCAm1+yFY5TKBnA1qtGL0LHq3XzYeOZ3ofSveRAm1+rSUFVs1PF1iHwn3tdKCVY6rx1FHL1dAKWDUu0IpQc1ygTWDV5QKFN4EKeHc8XaDpm1KaQBdYdX0aj0DhJ0agMNA/tNEviipb4hMAAAAASUVORK5CYII=') 28 / 28px / 0 round;
  border-width: 28px;
  border-style: solid;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}