.entry {
  display: contents;
  color: indigo;
}

.music-entry {
  list-style-type: "\1F3B5";
}

.watching-entry {
  list-style-type: "📺";
}

.game-entry {
  list-style-type: "\1F3AE";
}

.study-entry {
  list-style-type: "\2712";
}

.reading-entry {
  list-style-type: "\1F4D6";
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

#socials img {
  width: 3em;
  height: auto;
}

#right-aside {
  float: right;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  max-width: 55%;
  height: fit-content;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
}

#right-aside>* {
  height: fit-content;
  width: auto;
}

#visitor-counter {
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAIZJREFUOE+1lEEOwCAIBPH/j25jE5JqRWYx9QzDLiDNfnityLzMLMyl0C1kFkagDsRgAu1CMLAHU+jbYVogg6aA1aAdWkkOcyKlapEhPrNP1vizHTNUVehFQ6XyPkY2TpUune16WmnFk1Md1PFBkRWrSlEBBYq3Q4Hia5VBkd3KkSZfdYi5AczrHBYV85HkAAAAAElFTkSuQmCC') 7 / 7px / 0 round;
  border-width: 7px;
  border-style: solid;
  padding: 1em;
  text-align: center;
  grid-row: 1/3;
  grid-column: 1/5;
}


#creator-photo {
  grid-column: 5/12;
  grid-row: 1/10;
  width: 100%;
  height: min-content;
  margin: 0em 0em 0.7em 0.7em;
}

#buttons {
  grid-column: 1/12;
  grid-row: 10/12;
  overflow: hidden;
  align-self: start;
}

#currently {
  grid-column: 1/5;
  grid-row: 3/10;
  height: stretch;
  padding: 0.5em;
  margin: 0.7em 0em;
  overflow: hidden;
}

:root {
  --num-buttons: 16;
}

@keyframes carousel {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-89px * var(--num-buttons)), 0, 0);
  }
}

#button-list {
  animation: carousel 30s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.2em;
}

#changelog {
  max-height: 70vh;
  overflow-y: auto;
}

@keyframes transform {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80vw);
  }
}

#creature {
  position: absolute;
  width: 10em;
  height: auto;
  animation: transform 30s ease-in-out infinite;
}