main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#books td {
    writing-mode: vertical-rl;
    border: 2px black solid;
    font-size: 0.8em;
    padding: 0.3em;
    background-color: white;
    text-align: center;
}

#books td {
  transition: transform 0.3s ease; /* Smooth transition over 0.3 seconds */
}

#books td:hover {
  transform: scale(1.05); /* Grows the element to 150% of its original size */
}

#books th {
    writing-mode: vertical-rl;
    font-size: 1.2em;
    padding: 0.3em;
    background-color: white;
    text-align: center;
}

#books {
    height: fit-content;
    width: 75%;
}

#books tr {
    border-style: solid;
    box-shadow: inset 5em 1em gold;
    border-image: url("https://foollovers.com/mat/menu05/51a-none.gif") 9 fill round;  /*cedit: https://scripted.neocities.org/images */
    padding: 1%;       
    display: flex;
    flex-direction: row;
    gap: 0.5%;
}