body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg_main.png);
}

nav,
#wrapper {
    margin: 0 17.5vw;
}

p>a {
    color: #aaaaff;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

#wrapper {
    padding: 2.5em 0;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18.2px;
}

header {
    background-image: url(../images/bg_top.png);
    background-repeat: repeat-x;
    height: auto;
    padding: 0.2em 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#playPauseBtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin-left: auto;
  opacity: 0.5;
}

#playPauseBtn>img {
    max-height: 2.5em;
}

#logo {
    height: 2em;
}

#animals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-left: 2em;
}

#classic-button {
    display: inline-block;
    padding: 0.5em 1em;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom, #f6a63a, #c97816);
    border-radius: 6px;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 2px 4px rgba(0, 0, 0, 0.25);
}

#trailer {
    max-width: max-content;
}

footer {
    color: grey;
    text-align: center;
}

#videos {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1.5em;
}

#videos>aside {
    width: 40%;
}

#video-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

#video-grid>figure {
    margin: 0;
    height: auto;
    width: 45%;
}

figure>iframe {
    width: 100%;
    height: auto;
}
    
.mc-border {
  /* Main background color */
  background-color: #c6c6c6; 
  
  /* The "frame" effect */
  border: 4px solid;
  border-color: #ffffff #555555 #555555 #ffffff; /* Top/Left light, Bottom/Right dark */
  
  /* Ensuring sharp corners */
  image-rendering: pixelated;
  padding: 8px;
}

figcaption {
    text-align: center;
}

figcaption>a {
    text-decoration: none;
    color: #555555;
}
