body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

nav,
#wrapper {
    margin: 0 17.5vw;
}

p > a {
    color: #aaaaff;
    text-decoration: none;
}

#wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5em 0;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18.2px;
}

header {
    background-image: url(../images/bg_top.png);
    background-repeat: repeat-x;
    height: auto;
    padding: 0.3em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#logo {
    height: 2em;
}

main {
    background-image: url(../images/bg_main.png);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-left: 2em;
}

#classic-button {
    display: inline-block;
    padding: 0.5em 1em;

    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;

    background: linear-gradient(to bottom, #f6a63a, #c97816);

    border-radius: 6px;

    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 2px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.15s ease;
}

#trailer {
    max-width: max-content;
}