/*
resources.css
Styles for the resources page
*/

table th,
table td {
    padding: 0.5em;
}

table th {
    width: 30%;
    text-align: initial;
}

table th a, table td a {
    text-decoration: none;
    color: black;
}

table th a:hover, table td a:hover {
    text-decoration: dotted underline;
    font-style: italic;
    opacity: 0.8;
}

#coding table th {
    background: rgb(221, 204, 255);
}

#coding table td {
    background: rgb(221, 204, 255, 0.7);
}

#graphics table th {
    background: rgb(153, 170, 255);
}

#graphics table td {
    background: rgb(153, 170, 255, 0.7);
}

#tools table th {
    background: rgb(255, 179, 230);
}

#tools table td {
    background: rgb(255, 179, 230, 0.7);
}