/* 
 * style.css
 * Antarchive
 * 2024-06-01
 * 
 * Main stylesheet for Antarchive. This file is shared across all pages, and contains the base styles for the site.
 */

@font-face {
  font-family: 'Vigallse';
  src:
    url('../fonts/vigallse/Vigallse\ -\ Vintage\ Modern\ Serif\ Typeface.ttf') format('truetype');
}

@font-face {
  font-family: "Retro Italics";
  src: url('../fonts/retro_italics/retroitalics.ttf') format('truetype');
}

@font-face {
  font-family: "Retron2000";
  src: url('../fonts/retron2000/Retron2000.ttf') format('truetype');
}

html {
  background-image: url('../images/background.gif');
  background-origin: content-box;
  background-size: auto;
}

html,
body {
  overflow: auto;
  height: 100%;
}

#content {
  font-family: Verdana;
  margin: 2em 4em 3em 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: fit-content;
}

#center {
  background-color: white;
  border: 5px double rgb(71, 71, 71);
  width: 85%;
  align-self: center;
  padding: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 5em;
  font-family: "Vigallse";
}

nav a {
  border: 5px double rgb(71, 71, 71);
  padding: 0.5em 1.5em;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.visiting {
  color: rgb(99, 8, 165);
  text-decoration: underline;
}

main {
  font-family: "Retron2000";
  font-size: 1em;
}

main p {
  word-spacing: 1px;
}

main h1,
h2 {
  font-family: "Retro Italics";
}

header {
  background-color: white;
  font-family: "Ole", cursive;
  font-size: 5em;
  border: 5px double rgb(71, 71, 71);
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: fit-content;
  align-self: center;
}


header h1 {
  margin: auto;
}

.multicolor-text {

  /* Apply a linear gradient as the background */
  background-image: linear-gradient(to right, rgb(99, 8, 165), rgb(22, 22, 168));

  /* Clip the background to the shape of the text */
  -webkit-background-clip: text;
  /* For Webkit browsers like Chrome and Safari */
  background-clip: text;

  /* Make the text transparent to reveal the background gradient */
  color: transparent;
}

header img {
  position: absolute;
  width: auto;
  height: 1.4em;
}

#right-overlap {
  position: relative;
  left: 54%;
}

#left-overlap {
  position: relative;
  right: 70%;
}

footer {
  font-family: "Retro Italics";
  text-align: center;
  font-size: 0.8em;
  color: gray
}